{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% endblock %}


{% block body_block %}
 <div class="row marketing"> 
   <div class="col-lg-6"> 
       <h4>Subheading</h4> 
         <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p> 
       <h4>Subheading</h4> 
   </div> 
   <div class="col-lg-6">
       <h4>Subheading</h4>
         <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p> 
   </div>
 </div>
    <footer>
        <br>
	<a href="/rango/">rango页面 </a>
	<br>
	<br>
	<img src={{MEDIA_URL}}miao.png />
    </footer>
{% endblock %}
