{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ category.name }}
{% endblock %}

{% block body_block %}

   
  {% if user.is_authenticated and user.username == "tango" %}

    	{% if category %}
            <div>
                <strong id="like_count"> {{ category.likes }} </strong> people like this category
                {% if user.is_authenticated %}
                   <button  id="likes" data-catid="{{category.id}}" class="btn btn-primary btn-sm" type="button"> LIKE </button>
                {% endif %}
            </div>
    	    <h1>{{ category.name }}</h1>

    	        {% if pages %} 
    	                <ul> 
    	    		 {% for page in pages %}
                                <li>
                                   <a href="{{ page.url }}">{{ page.title }}</a>
                                   <a href="{% url 'goto' %}?page_id={{page_id}}"> {{ page.title}}</a>
                                   {% if page.views > 1 %}
                                        ({{page.views}} views)
                                   {% elif page.views == 1 %}
                                        ({{page.views}} view)
                                   {% endif %}
                                </li>
    	                     {% endfor %} 
    	                </ul>

    	        {% else %} 
    	    	    <strong>No pages currently in category.</strong>
    	        {% endif %}

    	{% else %}

    	        <strong>The specified category does not exist! </strong>

    	{% endif %}

  {% else %}
       <h1><strong> you have no perssion to see this </strong></h1> 
  {% endif %}
{% endblock %}
