{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    more details
{% endblock %}

{% block body_block %}

<body>

    {% if  user.is_authenticated and user.username == "tango" %}
	<div>
	  <h1> Most Liked Categories </h1>
	  {% if aha %}
		{% for ele in aha %}
			<li> <a href="/rango/category/{{ ele.slug }}">{{ ele.name }} </a></li>
		{% endfor %}	
	  {% else %}
	  {% endif %}
	</div>

	<br>
	<div>
	  <h1> Most Viewed Pages </h1>
	  {% if pagge %}
		{% for element in pagge %}
		      <li><a href={{ element.url }}>{{ element }} </a></li>
		{% endfor %}
	  {% endif %}
	</div>
	<br>
    {% else %}
        <h2><strong> no perssion to see this </strong></h2>
    {% endif %} 
</body>
{% endblock %}

